html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 18%;
}

body {
    font-family: "Martian Mono", monospace;
}

.main-text {
    font-size: 600%;
    font-weight: normal;
}

#opening-page {
    height: 72vh;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1470px;
    height: 838px;
}

#background-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 175px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 90%;
    text-align: right;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 0px;
    position: sticky;
    top: 0;
}

#title-and-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#title-bg {
    padding: 5px;
    background-color:rgba(229, 154, 102, 1);
    padding-left: 25px;
    padding-right: 25px;
}

main{
    padding: 10px;
    padding-top: 0px;
}

#about-link {
    font-size: 175%;
    margin-right: 15px;
}

#student-desc {
    max-width: 365px;
    background-color: rgba(229, 154, 102, 1);
    padding: 10px;
    font-size: 150%;
    text-align: center;
    margin-top: 0;
}

#social-links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 30px;
    font-size: 120%;
    color: black;
    text-decoration: none;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color: black;
    text-decoration: underline;
}

#about-me {
    font-size: 350%; 
    padding: 10px;
    background-color: rgba(229, 154, 102, 1);
    margin-left: 120px;
    width: 30%;
    min-width: 325px;
}

#p-about {
    padding: 10px;
    background-color: rgba(229, 154, 102, 1);
    margin-left: 150px;
    font-size: 120%;
    max-height: 55vh;
    overflow: scroll;
}

.menu-icon {
    padding-left: 10px;
    color:black
}

/* From W3Schools */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgba(229, 154, 102, 1);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; 
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#body {
    transition: margin-right .5s;
}

.side-list-item {
    list-style-type: none;
    padding: 10px;
    font-size: 130%;
}

.major-section {
    background-color: #FFFAFA;
    width: 91vw;
    height: 76vh;
    margin: auto;
    border-radius: 33px;
    margin-top: 105px;
    margin-bottom: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
}

.major-section-title {
    margin-top:60px; 
    margin-left:6.5vw; 
    font-size:470%;
    background-color: rgba(229, 154, 102, 1);
    position:absolute;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.project-box {
    background-color: white; 
    width: 40%; 
    margin-left: 30px; 
    border-bottom-right-radius: 33px; 
    border-top-right-radius: 33px;
}

.project-title {
    padding-left: 20px; 
    font-size: 200%;
    font-weight: 350;
}

.project-desc {
    padding-left: 20px; 
    max-height: 38vh;
    overflow: scroll;
    font-weight: 250;
    font-size: 105%;
    line-height: 150%;
}

.project-main {
    display: none;
    width: 920px;
    height: 501px;
    margin-bottom: 10px;
    margin-top: 90px;
    background-color: #E57B66;
    border-radius: 33px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

#about-paragraph {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    font-weight: 250;
    font-size: 125%;
    line-height: 155%;
    height: 97%;
    width: 60%;
    margin-left: 11.75%;
}

#standing-profile {
    display: flex;
    justify-self: flex-start;
    padding: 10px;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 0px;
    margin-right: 65px;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.75s;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.75s;
}

@keyframes fade-out {
  from {opacity: 1}
  to {opacity: 0}
}

.snap-always {
    scroll-snap-align: start;
}